body{
   margin: 0;
   padding: 0;
   min-height: 100vh;
    background: lightblue;
    border: 5px solid rgb(11, 172, 12)
}
*{
    box-sizing: border-box;
}
.container{
    display:grid;
    border: 5px solid rebeccapurple;
    /* grid-template-columns: 10vw auto;
    grid-auto-rows: 50px auto; */
    grid-auto-columns: 8fr fr;
    grid-template-rows:50px auto 50px;
    grid-template-areas:
    "h h h h h h h h s s s s"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f"
    
    /* grid-gap: 4px; */
}
.header{
    background: grey;
    grid-area: h;
}
.sidebar{
    grid-area: s;
    background: skyblue
}
.content{
    grid-area: c;
    background: teal;
}
.footer{
    grid-area: f;
    background: rgb(248, 115,115)
}